 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

:root {
    --gradient1: linear-gradient(to left, rgb(53, 134, 255), rgb(76, 70, 255), rgb(83, 14, 255));
    --main-theme:  #3586ff;
    --main-theme-gray: #393E46;
    --main-theme-gray2: #222831;
    --box-inner: #4706ec;
}

.body-contact {
    background: var(--gradient1);
}

.navItems li a:hover {
    color: aliceblue !important;
}
.form {
    width:340px;
    height:440px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
}

.body-contact h1 {
    all: unset;
}

.body-contact main form h2 {
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color: var(--main-theme);
    border-bottom:3px solid var(--main-theme);
}

.body-contact input {
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid var(--main-theme);
}

.body-contact input:focus {
    border-bottom:2px solid var(--main-theme);
}

.body-contact p:before {
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color: var(--main-theme-gray2);
}

.body-contact button {
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid var(--main-theme);
    background:0;
    color:#474747;
    cursor:pointer;
    transition:all .3s
}

.body-contact button:hover {
    background:var(--main-theme);
    color:#fff
}

.mail-span {
    content:'Hi';
    position:absolute;
    bottom:-15px;
    right:-20px;
    background:var(--main-theme-gray);
    color:#fff;
    width:320px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000
}

.mail-span span {
    margin:0 5px 0 15px
}

.contact-nav {
            width: 100%;
            padding: 3rem 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 4rem;
            background: var(--main-theme-gray2);
            position: relative;
            top: 0;
            left: 0;
        }

.contact-nav h2 {
            color: white;
            border: none;
        }

        .contact-nav ul {
            display: flex;
        }

        .contact-nav ul li {
            list-style: none;
        }

        .contact-nav ul li a {
            text-decoration: none;
            padding: 5px 1rem;
            margin: 0 10px;
            position: relative;
        }

        .contact-nav ul li a::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            border-top:  2px solid var(--main-theme);
            border-left:  2px solid var(--main-theme);
            transition: all 0.4s;
        }

        .contact-nav ul li a::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            border-bottom:  2px solid var(--main-theme);
            border-right:  2px solid var(--main-theme);
            transition: all 0.4s;
        }

        .contact-nav ul li a:hover::after, .contact-nav ul li a:hover::before {
            content: '';
            width: 10%;
            height: 20%;
            transform: rotate(360deg);
        }

@media (max-width: 440px) {
    body {
        overflow: scroll !important;
        scroll-behavior: smooth;
    }

    .contact-nav h2 {
        font-size: 2.7rem;
    }

    .contact-nav ul li {
        margin: -5px;
    }

    .contact-nav ul li a {
        font-size: 15px;
    }

    .contact-nav ul li a::after, .contact-nav ul li a::before {
        border: none;
    }

    .canv-container {
        width: 100%;
        height: 80vh;
    }
}

@media (max-width: 385px){
    .contact-nav h2 {
        font-size: 2rem;
        left: 25px;
        position: relative;
    }

    .contact-nav ul li {
        margin: -12px;
    }
}

